    <!-- Page Content -->
    <div class="container flat">

      <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
      <% end %>

        <!-- Galery Row -->
        <div class="row flat_header">
            <div class="col-md-7">
                <%= image_tag('flat.jpg', class: "img-responsive img-rounded")  %>
             
                <div class="col-lg-12">
                    <h3 class="page-header">Galeria</h3>
                </div>

                <div class="col-sm-3 col-xs-6">
                    <a href="#">
                      <%= image_tag('flat1.jpg', class: "img-responsive portfolio-item")  %>
                    </a>
                </div>

                <div class="col-sm-3 col-xs-6">
                    <a href="#">
                      <%= image_tag('flat2.jpg', class: "img-responsive portfolio-item")  %>
                    </a>
                </div>

                <div class="col-sm-3 col-xs-6">
                    <a href="#">
                      <%= image_tag('flat3.jpg', class: "img-responsive portfolio-item")  %>
                    </a>
                </div>

                <div class="col-sm-3 col-xs-6">
                    <a href="#">
                      <%= image_tag('flat4.jpg', class: "img-responsive portfolio-item")  %>
                    </a>
                </div>
            </div>
            <!-- calendar -->
            <div class="col-md-5">
              <div id="calendar"></div>
              <br>           
              <%= link_to "POPROŚ O REZERWACJĘ", new_reservation_path, class: "reservation-btn btn btn-block" %>
            </div>
            <!-- /.col-md-5 -->
        </div>    
        <!-- /.row -->
        <br>

        <!-- row -->
        <div class="row">
          <div class="col-md-7">
            <h4 class="row-space-4">Nasza oferta</h4>
            <hr>
            <!-- row -->
            <div class="row">
              <div class="col-md-3">
                  <p class="text-muted"> Przestrzeń </p>
              </div>
              <div class="col-md-9 light_font">
                <div class="row">
                    <div class="col-md-6">
                        <p>Rodzaj przestrzeni: <strong>Mieszkanie</strong></p>
                        <p>Sypialnie: <strong>1</strong></p>
                    </div>
                    <div class="col-md-6">
                        <p>Łazienki: <strong>1</strong></p>
                        <p>Łóżka: <strong>2</strong></p>
                    </div>
                </div>
              </div>
            </div>
            <!-- /.row -->

            <hr>

            <!-- row -->
            <div class="row">
              <div class="col-md-3">
                  <p class="text-muted">Udogodnienia</p>
              </div>
              <div class="col-md-9 light_font">
                <div class="row">
                    <div class="col-md-6">
                      <p><i class="fa fa-cutlery fa-lg flat_icon"></i> Kuchnia</p>
                      <p><i class="fa fa-desktop fa-lg flat_icon"></i> Tv</p>
                      <p><i class="fa fa-fire fa-lg flat_icon"></i> Ogrzewanie</p>
                    </div>
                    <div class="col-md-6">
                      <p><i class="fa fa-database fa-lg flat_icon"></i> Pralka</p>
                      <p><i class="fa fa-fax fa-lg flat_icon"></i> Domofon</p>
                      <p><i class="fa fa-wifi fa-lg flat_icon"></i> WiFi</p>
                    </div>
                </div>
              </div>

            </div> 
            <!-- /.row -->

            <hr>


            <!-- row -->
            <div class="row">
              <div class="col-md-3">
                  <p class="text-muted">Opis</p>
              </div>
              <div class="col-md-9 light_font">
                    <p>Very nice, bright and spacious room (20m2) in a charming 3-room-apartment in the heart of Paris. The apartment is on the 5th floor, under the roof. The room is equipped with two single beds (2x 90x200cm), a commode and table. 
                    <br>Sheets and towels are included in the price. Breakfast is not included in the price. </p>

                    <p>There is a spacious living room (30m2/320ft2), a fully equipped kitchen with nespresso machine, microwave, juicer, washing machine. 
                    <br>Free high-speed wifi</p>

                    <p>The apartment is within a few minutes walk from the Louvre, jardin de tuileries, the shopping centers Lafayette, Printemps. You can discover Paris by foot or you have easy access to the métro stations Opéra, Tuileries, 4 Septembre and Pyramides which are nearby. 
                    <br>It's a very safe area even at night and the perfect place to start your sightseeing tour. </p>                
              </div>
            </div>
            <!-- /.row -->

            <hr>

            <!-- row -->
            <div class="row">
              <div class="col-md-3">
                  <p class="text-muted">Dostępność</p>
              </div>
              <div class="col-md-9 light_font">
                <div class="row">
                  <div class="col-md-7">
                    <p>Minimalny czas pobytu: <strong>3 dni</strong></p>
                  </div>
                  <div class="col-md-5">
                    <a href="#" class"to_calendar">Zobacz kalendarz</a>
                  </div>
                </div>
              </div>
            <!-- /.row -->
            </div>
            <br>
            <br>
            <br>



          </div>
          <!-- /.col-7 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
