 <div class="container">
        <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Rezerwacja</h3>
                    </div>
                    <ul class="list-group">
                        <% @reservation.errors.each do |attr, error| %>
                           <li class="list-group-item list-group-item-danger"><%= error %></li>
                        <% end %>
                    </ul>
                    <div class="panel-body">
                        <%= form_for @reservation do |f| %>
                            <div class="form-group text-center">
                              <label>Początek</label><br>
                                <%= f.text_field :checkin, id: "from", placeholder: "rr-mm-dd" %>
                            </div>
                            <div class="form-group text-center">
                              <label>Koniec</label><br>
                                <%= f.text_field :checkout, id: "to", placeholder: "rr-mm-dd" %>
                            </div>
                                <%= f.fields_for :customer do |customer_fields| %>
                                    <%= customer_fields.label :name %>
                                    <%= customer_fields.text_field :name %>
                                    <%= customer_fields.label :surname %>
                                    <%= customer_fields.text_field :surname %>
                                    <%= customer_fields.label :email %>
                                    <%= customer_fields.text_field :email %>
                                    <%= customer_fields.label :phone %>
                                    <%= customer_fields.text_field :phone %>
                                <% end %>

                           <!--  <div class="form-group">
                                <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name">
                            </div> -->
                            
                            <%= button_tag(type: "submit", class: "btn btn-success btn-block letter-space") do %>
                                <i class="fa fa-send fa-fw"></i> Rezerwuj
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
